.home {
  .part1 {
    padding: 70px 10px 10px;
    background-image: url('//m.360buyimg.com/mobilecms/s1125x939_jfs/t1/60757/16/9750/87911/5d761342E87cba8e2/afa7733548f80321.jpg');
    background-position: center;
    background-repeat: no-repeat;
  }
}
